@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Open+Sans:400,700');
@font-face {
  font-family: 'Winter Calligraphy';
  src: url('../fonts/Winter Calligraphy.ttf')
}

html {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #5c5260;
}

html, body {
  height: 100%;
  margin: 0;
}

.page-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header-container {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-container .fa {
  display: inline-block;
  margin-left: 30px;
  padding: 10px;
  width: 14px;
  text-align: center;
  transition: background-color 1s;
  border-radius: 50%;
}

.brand-name {
  display: inline-block;
  flex-grow: 1;
  font-family: WInter Calligraphy, serif;
  font-size: 4em;
  margin-bottom: 20px;
}

.brand-name span {
  transition: all 0.5s;
  border-radius: 50%;
}

.brand-name span:hover, .header-container .fa:hover {
  cursor: pointer;
  background-color: #C786CF;
}

.nav-bar {
  width: 100%;
  background-color: #ffdccd;
}

.nav-bar-container {
  max-width: 800px;
  margin: 20px auto;
}

.nav-bar a {
  padding: 20px;
  text-decoration: none;
  color: inherit;
}

.nav-bar a:first-of-type {
  padding-left: 0px;
}

.nav-bar ul {
  width: 100%;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.nav-bar li, .nav-bar form {
  display: inline-block;
}

.nav-bar .search-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 10px;
}

.search-box input {
  padding-left: 10px;
  letter-spacing: 1px;
  width: 100px;
  border-radius: 10px;
  border: none;
  border-style: none;
  background-color: inherit;
  transition: width 0.3s ease
}

.search-box input:focus {
  outline: none;
  background-color: #ffffff;
  width: 160px;
}

.btn-search {
  background: transparent;
  border-style: none;
  border: none;
  padding: 0 6px;
}

.posts {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-link {
  text-decoration: none;
  color: inherit;
}

.post {
  max-width: calc(33% - 5px);
  max-height: 240px;
  margin-bottom: 10px;
  cursor: pointer;
}

.post-layout-img {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.post .description {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
  bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  z-index: 10;
  transition: bottom 0.3s ease;
}

.post:hover .description {
  bottom: 80px;
}

.description h3 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post .img-desc {
  font-size: 0.8em;
  font-weight: 400;
}

.post .date {
  font-size: 0.6em;
  font-weight: 400;
}

#dare {
  background-color: #c2f6ea;
}

.pagination-container {
  background-color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  position: relative;
  z-index: 15;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}

.text-link {
  display: inline-block;
  padding: 0 15px;
  color: inherit;
}

.page-numbers {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.pagination-container ul {
  margin: 20px auto;
}

.footer-container {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  padding: 30px;
}

.footer-container .fa {
  height: 100%;
  padding: 10px;
  width: 14px;
  transition: background-color 1s;
  border-radius: 50%;
  margin-left: 20px;
}

.footer-container .fa:hover {
  background-color: #C786CF;
  cursor: pointer;
}

.copyright {
  text-align: left;
  align-self: flex-start;
  flex-grow: 1;
}