@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Open+Sans:400,700');
@font-face {
  font-family: 'Winter Calligraphy';
  src: url('../fonts/Winter Calligraphy.ttf')
}

html {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #5c5260;
}

html, body {
  height: 100%;
  margin: 0;
  min-width: 240px;
}

.page-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header-container {
  padding: 0 10px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-container .fa, .footer-container .fa {
  display: inline-block;
  margin-left: 30px;
  padding: 10px;
  width: 14px;
  text-align: center;
  transition: background-color 1s;
  border-radius: 50%;
}

.brand-name {
  display: inline-block;
  flex-grow: 1;
  font-family: WInter Calligraphy, serif;
  font-size: 4em;
  margin-bottom: 20px;
}

.brand-name span {
  transition: all 0.5s;
  border-radius: 50%;
}

.brand-name span:hover, .header-container .fa:hover, .footer-container .fa:hover {
  cursor: pointer;
  background-color: #C786CF;
}

.nav-bar {
  width: 100%;
  background-color: #ffdccd;
}

.nav-bar-container {
  max-width: 800px;
  margin: 20px auto;
}

.nav-bar a {
  padding: 20px;
  text-decoration: none;
  color: inherit;
}

.nav-bar a:first-of-type {
  padding-left: 10px;
}

.nav-bar ul {
  width: 100%;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.nav-bar li, .nav-bar form {
  display: inline-block;
}

.nav-bar li:hover a {
  font-weight: bold
}

.nav-bar .search-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 10px;
}

.search-box input {
  padding-left: 10px;
  letter-spacing: 1px;
  width: 100px;
  border-radius: 10px;
  border: none;
  border-style: none;
  background-color: inherit;
  transition: width 0.3s ease
}

.search-box input:focus {
  outline: none;
  background-color: #ffffff;
  width: 160px;
}

.btn-search {
  background: transparent;
  border-style: none;
  border: none;
  padding: 0 6px;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}

.footer-container {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  padding: 20px 0;
}

.footer-container .fa {
  height: 100%;
  margin-left: 20px;
}

.copyright {
  text-align: left;
  align-self: flex-start;
  flex-grow: 1;
}

.copyright p {
  display: inline-block;
}

.posts {
  padding: 0 10px;
  max-width: 800px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-link {
  text-decoration: none;
  color: inherit;
}

.post {
  max-width: calc(33% - 5px);
  max-height: 240px;
  margin-bottom: 10px;
  cursor: pointer;
}

.post-layout-img {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.post .description {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
  bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  z-index: 10;
  transition: bottom 0.3s ease;
}

.post:hover .description {
  bottom: 80px;
}

.description h3 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post .img-desc {
  font-size: 0.8em;
  font-weight: 400;
}

.post .date {
  font-size: 0.6em;
  font-weight: 400;
}

#dare {
  background-color: #c2f6ea;
}

.pagination-container {
  background-color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  position: relative;
  z-index: 15;
}

.text-link {
  display: inline-block;
  padding: 0 15px;
  color: inherit;
}

.page-numbers {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.pagination-container ul {
  padding-left: 0;
  margin: 20px auto;
}

.layout-container {
  max-height: 400px;
  width: 100%;
  overflow-y: scroll;
}

.layout-container::-webkit-scrollbar {
  width: 0px;
}

.layout-container img {
  width: 100%;
  height: 100%;
}

.post-wrapper {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  position: relative;
  top: -130px;
  padding: 20px 30px 0 30px;
}

.post-header {
  text-align: center;
  margin-bottom: 60px;
}

.post-title, .about-us h1 {
  text-transform: uppercase;
  font-weight: 500;
}

.single-post img {
  width: 100%;
}

.single-post img.align-left {
  width: calc(50% - 2.5px);
}

.single-post img.align-right {
  width: calc(50% - 2.5px);
}

.about-us {
  margin: 0px auto;
  max-width: 800px;
  text-align: justify;
}

.about-us h1 {
  text-align: center;
}

.about-us p {
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.author {
  padding: 20px
}

.author p {
  margin-top: 0px;
  padding-top: 0px;
}

.author img {
  max-height: 200px;
  max-width: 200px;
}

.author-left img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.author-right img {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
  .post {
    max-width: calc(50% - 5px)
  }
}

@media screen and (max-width: 510px) {
  .layout-container {
    display: none;
  }
  .post-wrapper {
    position: static
  }
  .posts {
    justify-content: center;
  }
  .post {
    max-width: calc(100% - 10px);
  }
  .header-container .fa {
    display: none;
    margin: 0;
  }
  .brand-name {
    text-align: center;
  }
  .nav-bar .search-box {
    display: none;
  }
  .page-numbers {
    display: none;
  }
  .text-link {
    padding: 0px 0px;
  }
  .prev, .next {
    padding: 0 15px;
    display: inline-block;
  }
  .footer-container {
    justify-content: center;
  }
  .copyright {
    flex-grow: 0;
    text-align: center;
  }
  .copyright p {
    display: none;
  }
}